<footer class="bg-white font-univermag py-4">
    <div class="flex justify-between mx-7">
        <a href="#" class="hover:underline">Impressum/Privacy</a>
        <a href="#" class="hover:text-gray-300" id="backToTop">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
            </svg>
        </a>
        <span>ASV MALS &copy;</span>

    </div>
</footer>

<script>
    // JavaScript to scroll to the top of the page when the arrow is clicked
    document.getElementById("backToTop").addEventListener("click", function(event) {
        event.preventDefault();
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    });
</script>
