<header class="bg-primary text-white font-univermag h-8">
	<div class="flex justify-between text-2xl mx-7">
		<a href="/" class="p-0">ASV MALS</a>
		<nav>
			<ul class="flex space-x-4 p-0">
				<li class="relative">
					<a href="#" class="hover:text-gray-300 p-0">Sektionen</a>

					<ul class="absolute z-10 hidden bg-white border border-gray-200 py-2 mt-1 rounded-md">
						<li>
							<a href="/fussball" class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
								>Fussball</a>
						</li>
						<li>
							<a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Badminton</a>
						</li>
						<li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Tennis</a></li>
					</ul>
				</li>
				<li><a href="#" class="hover:text-gray-300 p-0">Geschichte</a></li>
				<li><a href="/kontakt" class="hover:text-gray-300 p-0">Kontakt</a></li>
			</ul>
		</nav>
	</div>
</header>

	
	
  

<script>
	// Get the dropdown trigger element
	const dropdownTrigger = document.querySelector('.relative');

	// Get the dropdown menu
	const dropdownMenu = dropdownTrigger.querySelector('ul');

	// Add event listener to the dropdown trigger for mouseenter event
	dropdownTrigger.addEventListener('mouseenter', () => {
		// Show the dropdown menu
		dropdownMenu.classList.remove('hidden');
	});

	// Add event listener to the dropdown trigger for mouseleave event
	dropdownTrigger.addEventListener('mouseleave', () => {
		// Hide the dropdown menu
		dropdownMenu.classList.add('hidden');
	});

    

</script>