---
import Button from '../components/Button.astro';
import Header from '../components/Header.astro';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
    <!-- Include global CSS first -->
    <style is:global>
        @import '../styles/global.css'; 
      </style>

    <!-- Then include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
   
    <Header></Header>

  
    
    
    
    
    
        
      
      <div class="grid place-items-center h-screen content-center">
        <!-- existing content --> 
      </div>
      
    <div class="grid place-items-center h-screen content-center">
        <Button>Tailwind Button in Astro!</Button>
        <a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
    </div>

   

</body>
</html>
